@import '../../vars';

.event-item {
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.event-column {
  padding-left: 10px;
  padding-right: 10px;
}

.event-item:hover .event-column {
  color: #fff;
}

.event-item:hover .descriptionText {
  color: #fff;
}

// Make rows alternate white and grey
/* stylelint-disable */
.event-list > section:nth-child(even) {
  background: #ebeaea;
  //For Dark Mode background: #161515;
  //For Dark Mode color: white;
  &:hover {
    background-color: $primary-cyan; //For Dark Mode rgb(0, 0, 58);
    cursor: pointer;
  }
}

.event-list > section:nth-child(odd) {
  background: #ebeaea;
  //For Dark Mode background: #111111;
  //For Dark Mode color: white;

  &:hover {
    background-color: $primary-cyan; //For Dark Mode rgb(0, 0, 58);
    cursor: pointer;
  }
}
/* stylelint-enable */
